name: "Lint"

on:
  push:
    branches:
      - main

jobs:
  shellcheck:
    name: "Shellcheck"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: "Run ShellCheck"
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38 # v2.0.0
        env:
          SHELLCHECK_OPTS: --shell=bash -e SC1090 -e SC1091
