name: Shellcheck

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run ShellCheck
        run: find . -name '*.sh' -print0 | xargs -0 shellcheck --shell=bash -e SC1090 -e SC1091
